form {
	margin: 20px;
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

table{
	width: 100%;
}

th, td{
	text-align: right;
}

th.mat-header-cell:not(:last-of-type){
	padding-right: 12px;
}

td.mat-cell:not(:last-of-type){
	padding-right: 12px;
}