<h1 mat-dialog-title>Rename {{type}}:</h1>
<div mat-dialog-content>
	<p>Select the new name for the {{type}}:</p>
	<mat-form-field appearance="outline">
		<mat-label>New name:</mat-label>
		<input matInput
			required
			type="text"
			placeholder="Ex. NewName"
			[formControl]="newName"
		>
		<mat-hint>Start with letter. Use only alpha-numeric characters.</mat-hint>
	</mat-form-field>

</div>
<div mat-dialog-actions>
	<button mat-button (click)="onCancel()">Cancel</button>
	<button mat-button 
		[disabled]="!newName.valid"
		[mat-dialog-close]="newName.value">Submit</button>
</div>