<!-- TODO -->


<mat-stepper
	orientation="vertical"
	[linear]="isLinear"
	#fileStepper>

	<!-- First we select the file where the data we want to add to our 
	is located -->
	<mat-step
		[stepControl]="fileForm"
	>
		<ng-template matStepLabel>Select the file to upload</ng-template>
		<form 
			[formGroup]="fileForm"
		>
			<mat-form-field	appearance="fill">
				<mat-label>File to upload</mat-label>
				<input matInput 
					required
					formControlName="fileName"
					(click)="onClickFileInput()">
			</mat-form-field>
			<input 
				#fileInput
				id="fileInput"
				hidden
				type="file"
				accept="text/*"
				(change)="onChangeFileInput()"
				>
			<br />
			<mat-form-field appearance="fill">
				<mat-label>Type of File:</mat-label>
				<mat-select formControlName="fileType"
					(valueChange)="onChangeFileTypeSelect()">
					<mat-option value="info">Information file</mat-option>
					<mat-option value="rel">Relations file</mat-option>
				</mat-select>
			</mat-form-field>
			<div>

			<button mat-raised-button matStepperNext>Next</button>
		</div>
		</form>
	</mat-step>

	<mat-step>
		<ng-template matStepLabel>Select elements to upload	</ng-template>

		<!-- Depending on the type of file to upload, a table style (information
		file) or relation type component should be displayed -->
		<div *ngIf="infoFile">
			<app-info-file-loader
				[data]="dataModel"
			>
			</app-info-file-loader>
		</div>

		<div *ngIf="relFile">
			<!-- TO-DO -->
			<!-- app-rels-file-loader component  -->
		</div>
	</mat-step>

	<mat-step>
		<ng-template matStepLabel>Upload Data</ng-template>	
			<div>
				<button mat-raised-button matStepperPrevious>Previous</button>
			</div>
	</mat-step>

</mat-stepper>


