<div class="content-outer-container">
	<div class="content-inner-container">
		
		<nav mat-tab-nav-bar [tabPanel]="tabPanel">
			<a mat-tab-link *ngFor="let tab of tabs"
				[routerLink]="tab.link"
				routerLinkActive #rla="routerLinkActive"
				[active]="rla.isActive"
				>{{tab.label}}</a>
		</nav>
		<mat-tab-nav-panel #tabPanel>
			<router-outlet></router-outlet>
		</mat-tab-nav-panel>
	</div>
</div>

<div class="footer-container">
	<p class="footer-content">
		<a href="http://mizuguchilab.org/">
			<img style="height: 26px;" src="assets/mizuguchilab.png" alt="mizuguchilab_logo">
		</a>
		<a href="https://www.nibiohn.go.jp/">
			<img src="assets/nibiohn_logo_s.png" alt="nibiohn_logo">
		</a>
		<br />
		©2023 Mizuguchilab.org. 
	</p>
</div>

