<h1 mat-dialog-title>Add a Relation for {{input.srcEle}}/{{input.srcAttr}}:</h1>
<div mat-dialog-content>
	<form>
		<mat-form-field	appearance="outline">
			<mat-label>Select target element:</mat-label>
			<mat-select
				[formControl]="trgElement"
				required
				>
				<mat-option 
					*ngFor="let e of eles"
					[value]="e"
					(click)="refreshAtts(e)">
					{{e}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field	appearance="outline">
			<mat-label>Select target attribute:</mat-label>
			<mat-select
				[formControl]="trgAttribute"
				required
				>
				<mat-option 
					*ngFor="let e of atts"
					[value]="e">
					{{e}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions>
	<button mat-button
		(click) = "onCancel()"
	>Cancel
	</button>
	<button mat-button
		[disabled]="!trgElement.valid || !trgAttribute.valid"
		(click)="onSubmit()"
		>Submit
	</button>	 
</div>