<form>
	<mat-form-field appearance="fill">
		<mat-label>Select action:</mat-label>
		<mat-select 
			[formControl]="actionType"
			required
			>
			<mat-option value="add-ele">Add element</mat-option>
			<mat-option 
				[disabled]="dataLength == 0"
				value="add-attr">
				Add element's attribute
			</mat-option>
			<mat-option 
				[disabled]="dataLength == 0"
				value="add-rela">
				Add relation
			</mat-option>
		</mat-select>
	</mat-form-field>

	<div *ngIf="actionType.value == 'add-ele'">
		<p>
			<mat-form-field appearance="fill">
				<mat-label>Element name:</mat-label>
				<input matInput
					required
					type="text"
					class="form-control"
					[formControl]="newElement"
					placeholder="Ex. GeneID"
				>
				<mat-hint>Use only (non)capital letters.</mat-hint>
			</mat-form-field>
		</p>
		<p>
			<button 
				mat-raised-button
				(click)="onClickAddElement($event)"
			>Add</button>
		</p>
	</div>

	<div *ngIf="actionType.value == 'add-attr'"
		[formGroup]="attributeForm">
		<mat-form-field appearance="fill">
			<mat-label>Select Element:</mat-label>
			<mat-select formControlName="selectedElement">
				<mat-option *ngFor="let e of elements"
					[value]="e">
					{{e}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		
		<mat-form-field appearance="fill" >
			<mat-label>Attribute's Name</mat-label>
			<input matInput
				required
				type="text"
				class="form-control"
				formControlName="newAttribute"
				placeholder="Ex. value/significance"
				>
			<mat-hint>Use &lt;non&gt; capital letters and numbers</mat-hint>
		</mat-form-field>

	
		
			<mat-checkbox formControlName="isUnique">Are values unique?</mat-checkbox>
		
			
		<p>
			<button 
				mat-raised-button
				(click)="onClickAddAttribute($event)"
			>Add</button>
		</p>

	</div>

	<div *ngIf="actionType.value == 'add-rela'">
		<mat-form-field 
			appearance="fill"
			[formGroup]="relationForm"
			>
			<mat-label>Select source element:</mat-label>
			<mat-select
				name="source"
				formControlName="source"
				[disabled]="dataLength == 0"
				>
				<mat-option *ngFor="let e of elements"
					[value]="e">
					{{e}}
				</mat-option>
			</mat-select>
			<mat-label>Select target element:</mat-label>
			<mat-select
				name="target"
				formControlName="target"
				[disabled]="dataLength == 0"
				>
				<mat-option *ngFor="let e of elements">
					{{e}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
</form>



