<form>

	<mat-form-field appearance="outline">
		<mat-label>Select action:</mat-label>
		<mat-select
			[formControl]="actionType"
			required
			>
			<mat-option *ngIf="model.length === 0"
				(click)="onLoadModel($event)"
				value="Load Model">
				Load Model
			</mat-option>
			<mat-option *ngIf="model.length > 0"
				(click)="onSaveModel($event)"
				value="Save Model">
				Save Model
			</mat-option>
			<mat-option 
				value="Add Element"
				>Add Element
			</mat-option>
			<mat-option 
				value="Add Relation" 
				[disabled]="model.length == 0"
				>Add Relation
			</mat-option>
		</mat-select>
	</mat-form-field>

	<div hidden>
		<input 
			(change)="onFileSelected($event)"
			#modelFileInput
			type="file"
			>
	</div>

	<div *ngIf="actionType.value == 'Add Element'">
		<mat-form-field appearance="outline">
			<mat-label>Element name:</mat-label>
		<input matInput
			required
			type="text"
			[formControl]="elementName"
			placeholder="Ex. GeneID"
		>
		<mat-hint>Start with letter. Use only alpha-numeric characters.</mat-hint>
		</mat-form-field>

		<button mat-raised-button
			type="submit"
			(click)="onAddElement($event)"
			[disabled]="!elementName.valid"
		>
		Add
		</button>
	</div>
	
	<!-- <div *ngIf="actionType.value == 'add-relation'">
		<mat-form-field	appearance="outline">
		<mat-label>Select source element:</mat-label>
		<mat-select
			id="sourceElement"
			[formControl]="sourceElement"
			required
			>
			<mat-option 
				*ngFor="let e of model"
				[value]="e">
				{{e}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	
	<mat-form-field
		*ngIf="actionType.value == 'add-relation'"
		appearance="outline"
		>
		<mat-label>Select target element:</mat-label>
		<mat-select
			id="targetElement"
			[formControl]="targetElement"
			required
			>
			<mat-option 
				*ngFor="let e of model"
				[value]="e">
				{{e}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<button 
		*ngIf="actionType.value == 'add-relation'"
		mat-raised-button
		type="submit"
		(click)="onClickAddElement($event)"
		[disabled]="!(sourceElement.valid && targetElement.valid)"
		id="relationSubmit"
		>
		Add
	</button>	 
</div> -->

</form>



