<h1>Current Model</h1>
<table mat-table [dataSource]="_modelTableSource">

	<ng-container matColumnDef="elements">
		<th mat-header-cell *matHeaderCellDef> Element </th>
		<td mat-cell *matCellDef="let element">
			<span>{{element.name}}</span>
			<button mat-icon-button 
				class="table-button remove-element"
				(click)="onRemoveElement(element.name)">
				<mat-icon fontIcon="clear"></mat-icon>
			</button>		
			<button mat-icon-button
			class="table-button add-attribute"
			(click)="onAddAttribute(element.name)"
			>
				<mat-icon fontIcon="add_circle_outline"></mat-icon>
			</button>	
			<button mat-icon-button 
				class="table-button edit-element"
				(click)="onDisplayRenameElement(element.name)"
				>
				<mat-icon fontIcon="edit"></mat-icon>
			</button>
		</td>
	</ng-container>

	<ng-container matColumnDef="attributes">
		<th mat-header-cell *matHeaderCellDef> Attributes </th>
		<td mat-cell *matCellDef="let element">
			<div *ngFor="let attr of element.attributes | keyvalue">
				<span>{{attr.value.type}}</span>
				<button mat-icon-button
					class="table-button remove-attribute"
					(click)="onRemoveAttribute(attr.key)"
					>
					<mat-icon fontIcon="clear"></mat-icon>
				</button>
				<button mat-icon-button
					class="table-button edit-attribute"
					(click)="onDisplayEditAttribute(attr.key)"
					>
					<mat-icon fontIcon="edit"></mat-icon>
				</button>
				<!-- <button mat-icon-button
					[ngClass]="{'unique': !isUnique(attr.value.unique)}"
					class="table-button"
					>
					<mat-icon fontIcon="vpn_key"></mat-icon>
				</button> -->
			</div>
		</td>
	</ng-container>

	<ng-container matColumnDef="relations">
		<th mat-header-cell *matHeaderCellDef> Relations </th>
		<td mat-cell *matCellDef>
			<mat-icon fontIcon="edit"></mat-icon>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

