<h1>Current Model</h1>
<table mat-table [dataSource]="_model">

	<ng-container matColumnDef="elements">
		<th mat-header-cell *matHeaderCellDef> Element </th>
		<td mat-cell *matCellDef="let element">
			<span>{{element._name}}</span>
			<button mat-icon-button 
				class="table-button remove-element"
				matTooltip="Remove"
				(click)="onRemoveElement(element.name)">
				<mat-icon fontIcon="clear"></mat-icon>
			</button>		
			<button mat-icon-button
				class="table-button add-attribute"
				matTooltip="Add Attribute"
				(click)="onAddAttribute(element.name)">
				<mat-icon fontIcon="add_circle_outline"></mat-icon>
			</button>	
			<button mat-icon-button 
				class="table-button rename-element"
				matTooltip="Rename"
				(click)="onRenameElement(element.name)">
				<mat-icon fontIcon="edit"></mat-icon>
			</button>
		</td>
	</ng-container>

	<ng-container matColumnDef="attributes">
		<th mat-header-cell *matHeaderCellDef> Attributes </th>
		<td mat-cell *matCellDef="let element">
			<div *ngFor="let attr of element.attributes">				
				<span>{{attr.name}}</span>
				<button mat-icon-button
					class="table-button remove-attribute"
					matTooltip="Remove"
					(click)="onRemoveAttribute(attr.name)">
					<mat-icon fontIcon="clear"></mat-icon>
				</button>
				<button mat-icon-button
				class="table-button"
				[ngClass]="{'unique': !attr.unique}"
				matTooltip="is Unique"
				(click)="onToggleUnique(attr.name)">
				<mat-icon fontIcon="vpn_key"></mat-icon>
			</button>
				<button mat-icon-button
					class="table-button rename-attribute"
					matTooltip="Rename"
					(click)="onRenameAttribute(attr.name)">
					<mat-icon fontIcon="edit"></mat-icon>
				</button>
			</div>
		</td>
	</ng-container>

	<ng-container matColumnDef="relations">
		<th mat-header-cell *matHeaderCellDef> Relations </th>
		<td mat-cell *matCellDef>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="_displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: _displayedColumns;"></tr>
</table>

